html {
    overflow-y: auto;
}

body {
    height: 100vh;
    background-color: black;
    color: #999;
}

#venus-tab-view {
    display: block;
}

#editor-tab-view {
    display: none;
}

#simulator-tab-view {
    display: none;
}

#urlmaker-tab-view {
    display: none;
}

#editor-tab-view {
    overflow: hidden;
    width: 100%;
}

#asm-editor {
    width: 100%;
    height: 88vh;
    max-height: 88vh;
    font-family: Courier New, Courier, monospace;
}

.section {
    padding: 0 1.5rem;
    background-color: black;
}

#pc-column {
    width: 10%;
}

#mc-column {
    width: 20%;
}

#bc-column {
    width: 30%;
}

#oc-column {
    width: 40%;
}

#fn-column {
    width: 30%;
}

#ft-column {
    width: 10%;
}

#fo-column {
    width: 40%;
}

#program-listing {
    font-family: Courier New, Courier, monospace;
    background-color: black;
}

#program-listing-body {
    overflow: auto;
    height: 100%;
}

#program-listing-body tr.is-breakpoint {
    background-color: #eb355a;
    color: white;
}

#program-listing-body tr.is-selected {
    background-color: #00d1b2;
    color: white;
}

#program-listing-body tr {
    cursor: pointer;
}

#files-listing-body tr {
    cursor: pointer;
}

#program-listing-container {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    background-color: black;
}

#sidebar-listings-container {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

#sidebar-listings-container > .panel {
    height: 100%;
}

#listing-panel {
    min-height: 95%;
}

#regs-tab-view {
    font-family: Courier New, Courier, monospace;
}

#fregs-tab-view {
    font-family: Courier New, Courier, monospace;
    display: none;
}

#memory-tab-view {
    display: none;
}

#cache-tab-view {
    display: none;
}

#settings-tab-view {
    display: block;
}
#tracer-settings-tab-view {
    display: none;
}

#packages-tab-view {
    display: none;
}

#memory-table {
    font-family: Courier New, Courier, monospace;
    margin: auto;
    background-color: black;
}

#memory-table th {
    text-align: center;
    vertical-align: middle;
}

#memory-table td {
    text-align: center;
    vertical-align: middle;
    background-color: #111111;
    color: #CCCCCC;
}

#console-output {
    height: 100%;
    font-family: Courier New, Courier, monospace;
    background-color: black;
    font-weight: bold;
    color: #CCCCCC;
}

.tabs {
    margin-top: 1em;
    background-color: black;
}

#simulator-run.is-loading {
    pointer-events: auto;
}

#simulator-trace.is-loading {
    pointer-events: auto;
}

#regs-tab-view .input {
    font-family: Courier New, Courier, monospace;
    border-width: 2px;
    background-color: black;
    font-weight: bold;
}

#regs-tab-view .field.is-horizontal {
    width: 100%;
}

#fregs-tab-view .input {
    font-family: Courier New, Courier, monospace;
    border-width: 2px;
    background-color: black;
    font-weight: bold;
}

#fregs-tab-view .field.is-horizontal {
    width: 100%;
}

#cache-tab-view {
    font-family: Courier New, Courier, monospace;
    line-height: 1em;
    font-size: 0.9em;
}

#cache-tab-view .input {
    font-family: Courier New, Courier, monospace;
    border-width: 2px;
    background-color: black;
    color: #CCCCCC;
    font-weight: bold;
}

#cache-tab-view .field.is-horizontal {
    width: 100%;
    color: #CCCCCC;
}

#settings-tab-view {
    font-family: Courier New, Courier, monospace;
    line-height: 1em;
    font-size: 0.9em;
}

#settings-tab-view .input {
    font-family: Courier New, Courier, monospace;
    border-width: 2px;
}

.input.is-modified {
    border-color: #3273dc;
}

#addr-column {
    width: 40%;
}

.byte-column {
    width: 15%;
}

.panel-block > .field {
    width: 100%;
}
.tile {
    position: relative;  /* only in order to make z-index used */
    background-color: black;
}
.tile {
    clear: both;
    /* display: table; not here */
    margin-top: 0px;
    padding: 0px;  /* any padding will screw up height calculation */
}

.tile:first-child {
    /* margin-top: 0;  if you do this, when the top piece is no longer
                       the top piece, it would need fixing in the code */
}

.tile .content {  /* this exists only so that we can have padding without messing up height calculations of tile */
    padding: .5em;
}


.scrubber {
    display: inline-block;
    border-top: 2px solid #ccc;
    width: 25px;
    padding-top: 2px;
    float: right;
    cursor: -webkit-grab;
    cursor: ns-resize;
}

.scrubber:before,
.scrubber:after {
    display: block;
    content: "";
    border-top: 2px solid #ccc;
    padding-top: 2px;
}

#display-settings {
    background-color: black;
    color: #EEEEEE;
}

.input {
    background-color: black;
    color: #CCCCCC;
    font-weight: bold;
}

.select {
    background-color: black;
    color: #CCCCCC;
}

.input[type=button] {
    background-color: black;
    color: #CCCCCC;
}

.label {
    color: #CCCCCC;
}

.table thead th {
    color: #cacaca;
    font-weight: bold;
}

.table tr td {
    color: #f3f3f3;
    font-weight: bold;
}

.table tr:hover {
    background-color: #333333;
}

a:hover {
    color: #fcff00 !important;
}
.panel-tabs a {
    font-weight: bold;
}
.panel-tabs a.is-active {
    color: #a7d900;
    font-weight: bold;
}

.button {
    background-color: #555555;
    color: #CCCCCC;
}

.button:hover {
    background-color: #333333;
    color: #BBBBBB;
}

.tabs.is-boxed a:hover, .tabs.is-boxed li.is-active a {
    background-color: #333333;
    border-bottom-color: #999999;
}

.select select {
    background-color: #333333;
    color: #CCCCCC;
}

.button[disabled]:hover {
    background-color: white;
    border-color: #dbdbdb;
    color: #CCCCCC;
}

.button[disabled].is-primary:hover {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
}

.button:focus {
    color: #CCCCCC;
}

.tabs a {
    color: #CCCCCC;
}

.panel-block {
    color: #CCCCCC;
}

* {
    color: #EEEEEE;
}

#extern-link {
    color: #ffffff;
}

.textarea {
    background-color: #333333;
    color: #CCCCCC;
}

.alertify .ajs-header {
    background: #111111 !important;
    color: #CCCCCC !important;
    border-bottom: #444444 1px solid !important;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
    background: #111111 !important;
    color: #CCCCCC !important;
}
.alertify .ajs-footer {
    border-top: #444444 1px solid !important;
    background: #111111 !important;
    color: #CCCCCC !important;
}
.alertify .ajs-body .ajs-content, .alertify .ajs-dialog {
    background: #222222 !important;
    color: #CCCCCC !important;
}